#thing{padding-top: 5px;}
img#logo{
	margin: 0px;
	padding: 0px;
	width: 100px;
	height: 100px;
}
body{
	background-color: var(--magenta);
	font-family: "DejaVuSans", sans-serif;
	margin: 0px;
	color: var(--black);
	a{
		background-color: white;
	}
}
form{display: grid; width: fit-content;}
/*
TODO
- Relative colours



*/
#box{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	#card{
		display: flex;
		flex-wrap: wrap;
		margin: 5px;
		background-color: white;
		max-height: auto;
		width: 200px;
		padding: 10px;
		border-radius: 20px;
		border: 5px solid black;
		button{
			display: block;
			margin: 2px;
		}
	}
}


aside{
	position: fixed;
	right: 0;
	bottom: 0;
	background-color: rgb(255, 255, 255);
	border: 5px solid var(--black);
	padding: 10px;
	margin: 15px;
	border-radius: 20px;
	h2{
		margin: 0px;
		border-bottom: 3px solid var(--black);
	}
	#outer{
		display: flex;
		justify-content: space-between;
	}


}
input[type="search"]{
	border: 5px solid var(--black);
}
#header > #nav {
	display: flex;
	flex-direction: row;
	.thing{
display: flex;
	margin-left: 10px;
	flex-direction: column;}
	#search-form{
		display: ruby !important;
		input.search{ padding: 5px;
		border: 5px solid var(--black);}
	button#search{display: inline-block;
	height: 30px;
width: 30px;
text-align: center; margin: 0px;
 padding: 0px;}
	}
	a, button{
font: inherit; 
color: rgb(0, 0, 0);
border-radius: 10px;
min-width: 20px;
text-align: center;
width: 25px;
height: 25px;
display: block;
min-height: 10px;
border: 3px solid var(--black);
background-color: white;
margin-left: 10px;
	}
	label{
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		margin: 5px;
		font-weight: bold;
	}
}
main{
	color: var(--black);
	margin: 10px;
}
:root{
	/* CMYK */
--magenta: #ff80ff;
--cyan: #80ffff; 
--yellow: #ffff80;
--darkyellow: #d9d96c;
--lightyellow: #ffff66;
--black: black;
--red: #ff7373;
--green: #73ff73;
}

button, input[type="submit"]{ 
font: inherit; 
color: inherit;
font-weight: bold;
border-radius: 10px;
	margin: 3px;
min-width: 44px;
font-weight: bold;
min-height: 44px;
  border: 3px solid var(--black);
  background-color: var(--yellow);
}
button:hover, input[type="submit"]:hover{
  background-color: var(--darkyellow);
  cursor: pointer;
}
button:active, input[type="submit"]:active{
  background-color: var(--lightyellow);
}
button.cartadd{
	background-color: var(--green);
}
button.cartremove{	background-color: var(--red);
}

input[type="text"], input[type="password"]{font: inherit; border: 5px solid var(--black);
border-radius: 15px;
padding: 5px;}

div#header{
	padding:10px;
	display: flex;
	background-color: var(--cyan);
	justify-content: space-between;
	border-bottom: solid 3px var(--black);
		div#nav{
			button{ display: flex; flex: 2;}
		}		
}
